<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
</head>
<body>
    <div id="fruit-list">
        <first-list-title></first-list-title>
        <table class="w3-table w3-bordered w3-striped w3-border test w3-hoverable">
            <tbody>
                <tr class="w3-green">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>
                </tr>
                </tbody><tbody>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>Adam</td>
                    <td>Johnson</td>
                    <td>67</td>
                </tr>
                <tr>
                    <td>Bo</td>
                    <td>Nilsson</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Mike</td>
                    <td>Ross</td>
                    <td>35</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        Vue.component("first-list-title",{
            template:"<h1>과일 목록</h1>"
        })

        new Vue({el:'#fruit-list'})
    </script>

</body>
</html>